<ul class="sidebar navbar-nav">
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'list' %}">
            <i class="fas fa-fw fa-database"></i>
            <span>CRUD App</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'fileupload' %}">
            <i class="fas fa-fw fa-table"></i>
            <span>File Upload</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'ajax' %}">
            <i class="fas fa-fw fa-bullseye"></i>
            <span>Ajax Crud</span>
        </a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-fw fa-folder"></i>
            <span>Users</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="pagesDropdown">
            <a class="dropdown-item" href="{% url 'users' %}">User List</a>
        </div>
    </li>
     <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-fw fa-file"></i>
            <span>More Freature</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="pagesDropdown">
            <a class="dropdown-item" href="{% url 'upload_csv' %}">CSV Import</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'changePassword' %}">Change Password</a>
        </div>
    </li>
</ul>