{% extends 'layout/login.html' %}

{% load static %}
{% block body %}
    <div class="container">
        <div class="card card-login mx-auto mt-5">
            <div class="card-header">404</div>
            <div class="card-body">
                <h1 class="display-1 text-center">404</h1>
                <p class="lead text-center">Page not found.</p>
                <a class="d-block small mt-3 text-center" href="/login">Login Page</a>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript">
    </script>
{% endblock %}