{% extends 'layout/app.html' %}

{% load static %}

{% block body %}
    <div class="container-fluid px-4">
        <h1 class="mt-4">AJAX</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
            <li class="breadcrumb-item active">AJAX</li>
        </ol>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
            </div>
            <div class="card-body">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
                <div class="bd-example">
                    <form id="example-form" action="ajax" method="POST">
                        {% csrf_token %}
                        <div class="row mb-3">
                            <div class="col">
                                <div class="form-floating mb-3 mb-md-0">
                                    <input class="form-control" type="text" id="example-text-input" placeholder="Text" required>
                                    <label for="example-text-input">Text</label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-floating">
                                    <input type="search" class="form-control" placeholder="Search" id="example-search-input" required>
                                    <label for="example-search-input">Search</label>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <div class="form-floating mb-3 mb-md-0">
                                    <input type="email" class="form-control" placeholder="Email" id="example-email-input" required>
                                    <label for="example-email-input">Email</label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-floating">
                                    <input type="tel" class="form-control" placeholder="Mobile Number" id="example-tel-input">
                                    <label for="example-tel-input">Mobile Number</label>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <button class="btn btn-primary btn-block" type="submit">Submit &nbsp;&nbsp;&nbsp;<span></span></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Ajax List
            </div>
            <div class="card-body">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
                <table class="table table-bordered" id="myTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Text</th>
                        <th>Search</th>
                        <th>Email</th>
                        <th>Mobile</th>
                        <th>Created At</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for ajax in ajax_list %}
                        <tr id="table-{{ ajax.id }}">
                            <td>{{ ajax.id }}</td>
                            <td>{{ ajax.text }}</td>
                            <td>{{ ajax.search }}</td>
                            <td>{{ ajax.email }}</td>
                            <td>{{ ajax.telephone }}</td>
                            <td>{{ ajax.created_at  |date:"d-m-Y H:i:s" }}</td>
                            <td><a class="btn btn-sm btn-warning"><span class="fa fa-edit"></span> Edit</a>
                                <a class="btn btn-sm btn-danger delete" data-id="{{ ajax.id }}">
                                    <span class="fa fa-trash"></span> Delete
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <script>
        $(document).ready(function () {
            $('#example-form').submit(function (event) {
                var text = $('#example-text-input').val();
                var search = $('#example-search-input').val();
                var email = $('#example-email-input').val();
                var telephone = $('#example-tel-input').val();
                $.ajax({
                    type: 'POST',
                    url: 'ajax',
                    data: {
                        'csrfmiddlewaretoken': '{{csrf_token}}',
                        'text': text,
                        'search': search,
                        'email': email,
                        'telephone': telephone,
                    },
                    dataType: 'json',
                    encode: true
                })
                    .done(function (data) {
                        $("#example-form").trigger("reset");
                        $.get('getajax', function (response) {

                        })
                            .done(function (datas) {
                                $("#myTable > tbody").prepend("<tr id='table-" + datas.id + "'>\n\
                            <td>" + datas.id + "</td><td>" + datas.text + "</td><td>" + datas.search + "</td>\n\
                            <td>" + datas.email + "</td><td>" + datas.telephone + "</td>\n\
                            <td>" + datas.created_at + "</td><td><a class='btn btn-sm btn-warning'><span class='fa fa-edit'></span>Edit</a>\n\
                            <a class='btn btn-sm btn-danger delete' data-id='" + datas.id + "'><span class='fa fa-trash'></span> Delete</a> </td></tr>");
                            })
                            .fail(function () {
                                $("#fails").show();
                            })
                    });

                event.preventDefault();
            });
            $(document).on('click', '.delete', function (event) {
                console.log('deleted');
                var id = $(this).attr("data-id");
                $.get('delete', {id: id}, function (response) {
                    var tabrow = '#table-' + id;
                    $(tabrow).remove();
                });
            });
        });
    </script>
{% endblock %}