
{% extends 'layout/app.html' %}

{% load static %}
{% block stylesheet %}
    <style>
        .bd-example {
            padding: 1.5rem;
            margin-right: 0;
            margin-left: 0;
            border-width: 1px;
            border-top-left-radius: .25rem;
            border-top-right-radius: .25rem;
        }
        .bd-example {
            position: relative;
            padding: 1rem;
            margin: 1rem -.75rem 0;
            border: solid #dee2e6;
            border-width: 1px;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="container-fluid px-4">
        <h1 class="mt-4">Change password</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
            <li class="breadcrumb-item active">Change password</li>
        </ol>
        <div class="bd-example">
            <form method="POST">
                {% csrf_token %}
                <div class="row mb-3">
                    <div class="col-2"></div>
                    <div class="col">
                        <div class="form-floating mb-3 mb-md-0">
                            <input type="password" class="form-control" name="current_password" placeholder="Current Password" id="inputFirst" required>
                            <label for="inputFirst">Current Password</label>
                        </div>
                    </div>
                    <div class="col-2"></div>
                </div>
                <div class="row mb-3">
                    <div class="col-2"></div>
                     <div class="col">
                        <div class="form-floating">
                            <input type="password" class="form-control" name="new_password" placeholder="New Password" id="newPassword" required>
                            <label for="newPassword">New Password</label>
                        </div>
                    </div>
                    <div class="col-2"></div>
                </div>

                <div class="row mb-3">
                    <div class="col-2"></div>
                    <div class="col">
                        <div class="form-floating">
                            <input type="password" class="form-control" name="repeat_password" placeholder="Confirm Password" id="confPassword" required>
                            <label for="confPassword">Confirm Password</label>
                        </div>
                    </div>
                    <div class="col-2"></div>
                </div>
                <div class="row mb-3">
                    <div class="col-2"></div>
                    <div class="col">
                        <div class="mt-4 mb-0">
                            <div class="d-grid">
                                <button class="btn btn-warning btn-block" type="submit">Update &nbsp;&nbsp;&nbsp;<span></span></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-2"></div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block javascript %}
{% endblock %}
