{% extends 'layout/app.html' %}

{% load static %}

{% block body %}
    <div id="content-wrapper">

        <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">Change Password</li>
            </ol>
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table"></i>
                    Change Password
                </div>
                <div class="card-body">
                    <form class="form-horizontal" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-md-12">
                                    <div class="form-label-group">
                                        <input type="password" class="form-control" name="current_password" placeholder="Current Password" id="inputFirst" required>
                                        <label for="inputFirst">Current Password</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-md-12">
                                    <div class="form-label-group">
                                        <input type="password" class="form-control" name="new_password" placeholder="New Password" id="newPassword" required>
                                        <label for="newPassword">New Password</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-md-12">
                                    <div class="form-label-group">
                                        <input type="password" class="form-control" name="repeat_password" placeholder="Confirm Password" id="confPassword" required>
                                        <label for="confPassword">Confirm Password</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-warning btn-block" type="submit">Update &nbsp;&nbsp;&nbsp;<span></span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}

{% endblock %}