{% extends 'layout/app.html' %}
{% block body %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">Dashboard</a>
        </li>
        <li class="breadcrumb-item active"><a href="{% url 'changePassword' %}">Change Password</a></li>
    </ol>
    <div class="container card">
        <div class="form-group"></div>
        <br/>
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                {{ message }}
            </div>
        {% endfor %}
        <form class="form-horizontal"  method="POST">
            {% csrf_token %}
            <div class="form-group"></div>

            <div class="form-group row">
                <label for="example-text-input" class="col-md-2 col-form-label">Current Password</label>
                <div class="col-md-6">
                    <input class="form-control" type="password" name="current_password" placeholder="Current Password">
                </div>
            </div>
            <div class="form-group row">
                <label for="example-text-input" class="col-md-2 col-form-label">New Password</label>
                <div class="col-md-6">
                    <input class="form-control" type="password" name="new_password" placeholder="New Password">
                </div>
            </div>

            <div class="form-group row">
                <label for="example-tel-input" class="col-md-2 col-form-label">Confirm Password</label>
                <div class="col-md-6">
                    <input class="form-control" type="password" name="repeat_password" placeholder="Confirm Password">
                </div>
            </div>

            <div class="form-group row">
                <label for="lgFormGroupInput" class="col-sm-2 col-form-label col-form-label-lg"></label>
                <div class="col-sm-6">
                    <button type="submit" class="btn btn-sm btn-warning btn-block"><span class="fa fa-edit"></span>
                        Update
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}