{#{% extends 'layout/login.html' %}#}
{##}
{#{% load static %}#}
{#{% block body %}#}
{#    <div class="container">#}
{#        <div class="card card-login mx-auto mt-5">#}
{#            <div class="card-header">Login</div>#}
{#            <div class="card-body">#}
{#                <form class="form-horizontal" role="form" method="POST">#}
{#                    {% csrf_token %}#}
{#                    {% include 'includes/bs4_form_all.html' with form=form %}#}
{#                    <button type="submit" class="btn btn-primary btn-block"><i class="fa fa-sign-in"></i> Login</button>#}
{#                </form>#}
{#                <div class="text-center">#}
{#                    <a class="d-block small mt-3" href="/register">Register an Account</a>#}
{#                    <a class="d-block small" href="/password/reset">Forgot Password?</a>#}
{#                </div>#}
{#                <div class="card-header">#}
{#                <p>#}
{#                    <b>username </b>: gowthaman.nkl1@gmail.com <br>#}
{#                    <b>password </b>: Welcome@123#}
{#                </p>#}
{#            </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#{% endblock %}#}




{% extends 'layout/login.html' %}

{% load static %}
{% block body %}
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-5">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header"><h3 class="text-center font-weight-light my-4">Login</h3></div>
                                <div class="card-body">
                                    <form method="POST">
                                        {% csrf_token %}
                                        {% include 'includes/bs4_form_all.html' with form=form %}
                                        <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                            <a class="small" href="/password/reset">Forgot Password?</a>
                                            <button type="submit" class="btn btn-primary">Login</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="card-footer text-center py-3">
                                    <div class="small"><a href="/register">Need an account? Sign up!</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript">
        $("#id_username").attr("placeholder", "Enter Username");
        $("#id_password").attr("placeholder", "Enter Password");
    </script>
{% endblock %}