{% extends 'layout/login.html' %}

{% load static %}
{% block stylesheet %}
    <style>
        .col-md-6 {
            padding: 7px;
        }
    </style>

{% endblock %}
{% block body %}
    {#    <div class="container">#}
    {#        <div class="card card-register mx-auto mt-5">#}
    {#            <div class="card-header">Register an Account</div>#}
    {#            <div class="card-body">#}
{#                    <form method="post" action=".">#}
{#                        {% csrf_token %}#}
{#                        {% include 'includes/bs4_form.html' with form=form %}#}
    {#                    <button class="btn btn-primary btn-block">Register</button>#}
    {#                </form>#}
    {#                <div class="text-center">#}
    {#                    <a class="d-block small mt-3" href="/login">Login Page</a>#}
    {#                    <a class="d-block small" href="/password/reset">Forgot Password?</a>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-7">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header"><h3 class="text-center font-weight-light my-4">Create Account</h3></div>
                                <div class="card-body">
                                    <form method="post" action="register">
                                        {% csrf_token %}
                                        {% include 'includes/bs4_form.html' with form=form %}
                                        <div class="mt-4 mb-0">
                                            <div class="d-grid"><button type="submit" class="btn btn-primary btn-block">Create Account</button></div>
                                        </div>
                                    </form>
                                </div>
                                <div class="card-footer text-center py-3">
                                    <div class="small"><a href="/login">Have an account? Go to login</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript">
        $("#id_username").attr("placeholder", "Enter Username");
        $("#id_password").attr("placeholder", "Enter Password");
    </script>
{% endblock %}