
{% extends 'layout/app.html' %}

{% load static %}

{% block body %}
    <div class="container-fluid px-4">
        <h1 class="mt-4">USERS</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
            <li class="breadcrumb-item active">User List</li>
        </ol>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>User List
            </div>
            <div class="card-body">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Description</th>
                        <th>Date</th>
                        <th>Created At</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        {% if user.email != 'gowthaman.nkl1@gmail.com' %}
                            <tr>
                                <td>{{ user.id }}</td>
                                <td>{{ user.first_name }}</td>
                                <td>{{ user.last_name }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.last_login |date:"d-m-Y H:i:s" }}</td>
                                <td>{{ user.date_joined  |date:"d-m-Y H:i:s" }}</td>
                                <td><a class="btn btn-sm btn-danger" href="delete/{{ user.id }}"><span class="fa fa-trash"></span> Delete</a></td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}

{% endblock %}


{#    <div id="content-wrapper">#}
{##}
{#        <div class="container-fluid">#}
{#            <!-- Breadcrumbs-->#}
{#            <ol class="breadcrumb">#}
{#                <li class="breadcrumb-item">#}
{#                    <a href="#">Dashboard</a>#}
{#                </li>#}
{#                <li class="breadcrumb-item active">Users</li>#}
{#            </ol>#}
{#            <div class="card mb-3">#}
{#                <div class="card-header">#}
{#                    <i class="fas fa-table"></i>#}
{#                    User List#}
{#                </div>#}
{#                <div class="card-body">#}
{#                    <div class="table-responsive">#}
{#                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">#}
{#                            <thead>#}
{#                            <tr>#}
{#                                <th>First Name</th>#}
{#                                <th>Last Name</th>#}
{#                                <th>Description</th>#}
{#                                <th>Date</th>#}
{#                                <th>Created At</th>#}
{#                                <th>Action</th>#}
{#                            </tr>#}
{#                            </thead>#}
{#                            <tbody>#}
{#                            {% for user in users %}#}
{#                                {% if user.email == 'gowthaman.nkl1@gmail.com' %}#}
{#                                {% else %}#}
{#                                    <tr>#}
{#                                    <td>{{ user.first_name }}</td>#}
{#                                    <td>{{ user.last_name }}</td>#}
{#                                    <td>{{ user.email }}</td>#}
{#                                    <td>{{ user.last_login |date:"d-m-Y H:i:s" }}</td>#}
{#                                    <td>{{ user.date_joined  |date:"d-m-Y H:i:s" }}</td>#}
{#                                    <td><a class="btn btn-sm btn-danger" href="delete/{{ user.id }}"><span class="fa fa-trash"></span> Delete</a></td>#}
{#                                {% endif %}#}
{#                            </tr>#}
{#                            {% endfor %}#}
{#                            </tbody>#}
{#                        </table>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
