{% extends 'crud/base.html' %}



{% block body %}
<div class="container">
    <form class="form-horizontal" id="example-form" action="myajaxview" method="POST">
        {% csrf_token %}
        <div class="form-group row">
            <label for="example-text-input" class="col-2 col-form-label">Text</label>
            <div class="col-8">
                <input class="form-control" type="text" id="example-text-input">
            </div>
        </div>
        <div class="form-group row">
            <label for="example-search-input" class="col-2 col-form-label">Search</label>
            <div class="col-8">
                <input class="form-control" type="search" id="example-search-input">
            </div>
        </div>
        <div class="form-group row">
            <label for="example-email-input" class="col-2 col-form-label">Email</label>
            <div class="col-8">
                <input class="form-control" type="email" id="example-email-input">
            </div>
        </div>
        <div class="form-group row">
            <label for="example-url-input" class="col-2 col-form-label">URL</label>
            <div class="col-8">
                <input class="form-control" type="url" id="example-url-input">
            </div>
        </div>
        <div class="form-group row">
            <label for="example-tel-input" class="col-2 col-form-label">Telephone</label>
            <div class="col-8">
                <input class="form-control" type="tel" onload='this.value = "";'  id="example-tel-input">
            </div>
        </div>
        <div class="form-group row">
            <label for="example-password-input" class="col-2 col-form-label">Password</label>
            <div class="col-8">
                <input class="form-control" type="password" onload='this.value = "";' id="example-password-input">
            </div>
        </div>
        <div class="form-group row">
            <label for="example-number-input" class="col-2 col-form-label">Number</label>
            <div class="col-8">
                <input class="form-control" type="number" id="example-number-input">
            </div>
        </div>
        <div class="form-group row">
             <div class="col-md-2"></div>
            <div class="col-md-8 offset-md-0">
                <button type="submit" class="btn btn-block btn-warning" id="example-long-button">Submit</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
{% block javascript %}
  <script>
    $(document).ready(function() {
        $('#example-form').submit(function(event) {
            var text = $('#example-email-input').val();
            var search = $('#example-search-input').val();
            var email = $('#example-email-input').val();
            var url   = $('#example-url-input').val();
            var telephone = $('#example-tel-input').val();
            var password = $('#example-password-input').val();
            var number = $('#example-number-input').val();

            $.ajax({
                type : 'POST', // define the type of HTTP verb we want to use (POST for our form)
                url  : 'myajaxview', // the url where we want to POST
                data :{
                    'csrfmiddlewaretoken': '{{csrf_token}}',
                    'text': text,
                    'search': search,
                    'email': email,
                    'url': url,
                    'telephone': telephone,
                    'password': password,
                    'number': number,
                },
                dataType : 'json', // what type of data do we expect back from the server
                encode   : true
            })
            .done(function(data) {

                // log data to the console so we can see
                var output =JSON.stringify(data)
                console.log(data); 
                 window.location = "/";

                // here we will handle errors and validation messages
            });
            event.preventDefault();
        });
    });
  </script>
{% endblock %}